body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  overflow: none;
}
.links {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: orangered;
}
a:hover {
  color: black;
}
.text-align-center {
  text-align: center;
}
.medium {
  font-size: 25px;
}
.white {
  color: white;
  background-color: white; 
}
.orange {
  color: orange;
  background-color: orange; 
}
.green {
  color: green;
  background-color: green; 
}
.blue {
  color: blue;
  background-color: blue; 
}
.red {
  color: red;
  background-color: red; 
}
.pink {
  color: pink;
  background-color: pink; 
}
.yellow {
  color: yellow;
  background-color: yellow; 
}
.black {
  color: black;
  background-color: black;
}